<nav id= "navigasi" class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <label class="navbar-brand" style="color: gray;">PROJECT MANAGEMENT SISTEM</label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Project <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" >
            <a class="nav-link" href="/profile">Profile<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" href="/users">Users<span class="sr-only"></span></a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-danger my-2 my-sm-0" type="submit" href="/logout"> SIGN OUT</a>
      </form>
    </div>
  </nav>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title >-PMS</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">