<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/sidebar.css">
    
</head>

<body>
    <div class="sidenav">
        <a href="/projects/<%= projectid %>/overview">Overview</a>
        <a href="/projects/<%= projectid %>/activity">Activity</a>
        <a href="/projects/<%= projectid %>/members"> Members</a>
        <a href="/projects/<%= projectid %>/issues">Issues</a>
    </div>
</body>
</html>